<div class="container">
    <div class="row">
    <br><br><br>
        <div class="col-md-6 col-md-offset-3">
	    	<h2 class="form-signin-heading text-center">Enter your Twitter Username</h2>
	    
	        <input type="text" name="username" ng-model="username" class="form-control" placeholder="@username" required autofocus>
	        <a href="#/{{username}}/feed"><button class="btn btn-lg btn-primary btn-block">Sign In</button></a>

<!-- 	        <button class="btn btn-lg btn-primary btn-block" ng-click="getUsername()">Sign In</button> -->
        </div>
    </div>
</div>