<div class="container">
    <div class="row">
        <div class="col-md-5">
		    	<h2 class="form-signin-heading text-center">Sign In</h2>
		    
		        <input type="text" name="username" ng-model="username" class="form-control" placeholder="username" required autofocus>
		        
		        <!-- <input type="text" name="password" ng-model="password" class="form-control" placeholder="Password" required> -->
		        
		        <button class="btn btn-lg btn-primary btn-block" ng-click="signin(username)">Sign In</button>
        </div>
    </div>
</div>